:root {
  --primary: #6bf2b6;
  --primary-hover: #55c191;
  --neutral-lightest: #f2f2f2;
  --neutral-lighter: #d9dada;
  --neutral-light: #b4b6b5;
  --neutral: #828584;
  --neutral-dark: #505452;
  --neutral-darker: #1e2421;
  --neutral-darkest: #050c09;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
